#from-column a {}
  #from-column a.active {
    color: #ff9f16;
    font-weight: bold;
  }
  #from-column a,
  #from-column a:hover,
  #from-column a:active {
    text-decoration: none;
  }

#to-column a {}
  #to-column a,
  #to-column a:hover,
  #to-column a:active {
    text-decoration: none;
  }
