body {
  background: #003057;
}

*,

a, a:active, a:visited {
  color: white;
}
  a:hover {
    color: #ff9f16;
  }

.jumbotron {
  background: #003057;
}

#from-column a {}
  #from-column a.active {
    color: #ff9f16;
    font-weight: bold;
  }
  #from-column a,
  #from-column a:hover,
  #from-column a:active {
    text-decoration: none;
  }

#to-column a {}
  #to-column a,
  #to-column a:hover,
  #to-column a:active {
    text-decoration: none;
  }
