body {
  background: #003057;
  padding-top: 0;
}

*,
a, a:active, a:visited {
  color: white;
}
  a:hover {
    color: #ff5739;
  }

hr {
  background: white;
}

li, .btn, a, p {
  font-size: 14px;
}

#instructions {
  padding-top: 50px;
  padding-bottom: 20px;
}

#connection-type-selector {
  padding-bottom: 40px;
}

.btn-connection {
  color: #fff;
  background-color: #ff5739;
  border-color: #cb2400;
}
  .btn-connection.active {
    background-color: #ff2d00;
  }

#from-column a,
#to-column a {}
  #from-column a.active,
  #to-column a.active {
    color: #ff5739;
    font-weight: bold;
  }
  #from-column a,
  #from-column a:hover,
  #from-column a:active,
  #to-column a,
  #to-column a:hover,
  #to-column a:active {
    text-decoration: none;
  }

  #to-column a.blocked {
    color: #666666;
    cursor: default;
  }

#remove-all-container p {
  margin-bottom: 0;
}
